@font-face {
	font-family: "SpaceGrotesk-Medium";
	src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SpaceGrotesk-Regular";
	src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "SpaceGrotesk-Regular", sans-serif;
	background-color: var(--color-background);
}
