:root {
	--color-primary: #b9ff66;
	--color-alternate: #191a23;
	--color-background: #ffffff;
	--color-text: #000000;
	--color-text-alternate: #ffffff;
	--color-text-hover: #ffffffa9;
	--color-disabled: #ffffff4d;

	--border: 1px solid var(--color-primary);

	--border-radius: 7px;
	--border-radius-section: 45px;

	--max-width: 606px;
}
